*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 400px;
    height: 400px;
     margin-top: 250px;
     margin-bottom: 100px;
     margin-left: 750px;
     margin-right: 750px;
}

.open-button{
    border-radius: 50px;
    width: 200px;
    height: 100px;
    margin-left: 850px;
    background-color:rgb(0,149,246);
    color: aliceblue;
    font-size: 50px;    
}

.heading{
    font-size: 75px;
    margin-left: 20px; 
    color: white;
}

.plus{
    position: absolute;   /* image ke upar place hogi */
    bottom: 0px;          /* neeche right corner */
    right: 0px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.story{
    position: relative;   /* important */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;      /* image circular rahegi */
}

.story-row{
    display: flex;
    gap: 20px;
    margin-left: 30px;
    margin-top: 20px;
}
.reel{
    position: relative;
     border-color: white;
     border: 2px solid white;
     width: 450px;
     height: 600px;
     margin-left: 750px;
     margin-top: 200px;
     border-radius: 5%;
}

.reel-text{
    position: absolute;
    top: 475px;     
    left: 10px;
    right: 10px;   
    font-size: 20px;
    color: white;
    z-index: 10;   
}

.black{
    background-color: black;
}

.story-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.reel-image{
     object-fit: cover;
    border-radius: 5%;
    width: 100%;
    height: 100%;
}

/* @media only screen and (max-width: 62rem){
 *{
    margin: 0;
    padding: 0;
}
.logo{
    width: 500px;
    height: 500px;
     margin-top: 250px;
     margin-bottom: 100px;
     margin-left: 500px;
     margin-right: 500px;
}
.open-button{
    border-radius: 55px;
    width: 200px;
    height: 100px;
    margin-left: 650px;
    margin-right: 650px;
    background-color:rgb(0,149,246);
    color: aliceblue;
    font-size: 50px;
    
}
.heading{
   font-size: 75px;
     margin-left: 20px; 
     color: white;
}

.plus{
    width: 20px;
    height: 20px;
    margin-left: 60px;
    margin-top:65px;
}
.story{
    border-color: white;
    border: 2px solid white;
    width:80px;
    height: 80px;
    border-radius: 50%;
   ;
   
}

.story-row{
    display: flex;
    gap: 20px;
    
}

.reel{
     border-color: white;
     border: 2px solid white;
     width: 450px;
     height: 600px;
     margin-left: 250px;
     margin-top: 100px;
     border-radius: 5%;
}
.reel-text{
    margin-top: 470px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    color: white;
}   
.black{
    background-color: black;
}
} */
    